<div class="row-fluid">
  <div class="span8">
    {% for post in site.categories.events reversed %}
      {% if post.date >= site.time %}
      <h2>
        {{ post.date | date: "%a %d %B" }}: {{ post.title }}
      </h2>
      <h3>
        {{ post.summary }}
      </h3>
      {{ post.content }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="span4 well">
    <h2>Regular Events</h2>
    nothing here yet...
  </div><!--/span-->
</div>

<h2>Past events</h2>
{% for post in site.categories.events limit:12 %}
  {% if post.date < site.time %}
    <p>
      {{ post.date | date: "%e %b %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a> 
      {{ post.summary }}
    </p>
  {% endif %}
{% endfor %}
