<hr>

<footer>
  <p style="text-align:center"> Transition Tufnell Park (TTP) is part of the <a href="http://www.transitionnetwork.org/" target="_blank">Transition Town network</a> and is one of many Transition Towns all over the world, working together to create community, sustainability and a positive future.</p>
  <p class="pull-left">
    <img src="/images/logo.png" title="Transition Tufnell Park" alt="Transition Tufnell Park" class="logo">
  </p>
  <p class="pull-right">
    <a href="http://www.transitionnetwork.org/" target="_blank">
      <img src="/images/marque.gif" title="A part of TransitionNetwork.org" alt="A part of TransitionNetwork.org" class="marque">
    </a>
  </p>
</footer>
