<h2>Coming up</h2>
<!-- for post in site.categories.events reversed limit:5 -->
{% for post in site.categories.events reversed limit:1 %}
  {% if post.date < site.time %}
    <p>{{ post.date | date: "%d %b" }}: <a href="{{ post.url }}">{{ post.title }}</a></b>, {{ post.summary }} </p>
  {% endif %}
{% endfor %}

<br>
<h2>Regular Events</h2>
<h4>Saturdays 11am-3pm</h4>
<p><a href="/regular/2011/07/09/food-market.html">Tufnell Park Tavern Food Market</a>.</p>
<h4>Last Sunday of the month</h4>
<p><a href="/growing/2012/02/26/secret-garden.html">Secret garden</a>.
<h4>Last Monday of the month</h4>
<p><a href="/social/2012/02/23/green-drinks.html">Green drinks</a> at 7pm.</p>
<h4>First Monday of the month</h4>
<p>Steering group at 7pm.</p>
