<h2>Top links</h2>
<ul>
  <li>
    <a href="http://www.transitionnetwork.org/">Transition Network</a>
  </li>
  <li>
    <a href="http://projectdirt.com/profile/TransitionTufnellPark">TTP on Project Dirt</a>
  </li>
  <li>
    <a href="http://www.facebook.com/home.php?sk=group_191589267519440">TTP on facebook</a>
  </li>
  <li>
    <a href=""> </a>
  </li>
  <li>
    <a href=""> </a>
  </li>
</ul>
<h2>Transition Towns near us</h2>
<ul>
  <li>
    <a href="http://www.transitionkentishtown.org.uk/">Kentish Town</a>
  </li>
  <li>
    <a href="http://transitionfinsburypark.org.uk/">Finsbury Park</a>
  </li>
  <li>
    <a href="http://transitionhighbury.ning.com/">Highbury</a>
  </li>
  <li>
    <a href="http://tthackney.ning.com/">Hackney</a>
  </li>
  <li>
    <a href="http://www.meetup.com/TransitionBelsize/">Belsize</a>
  </li>
  <li>
    <a href="http://www.transitionprimrosehill.org/">Primrose Hill</a>
  </li>
  <li>
    <a href="http://london-transition.org.uk/">And more...</a>
  </li>
</ul>
<h2>In the neighbourhood</h2>
<ul>
  <li>
    <a href="http://hican.wikispaces.com/">Highgate Climate Action</a>
  </li>
  <li>
    <a href="http://www.betterarchway.org.uk/">Better Archway Forum</a>
  </li>
  <li>
    <a href=""> </a>
  </li>
  <li>
    <a href=""> </a>
  </li>
</ul>
<h2>Other good stuff</h2>
<ul>
  <li>
    <a href="http://guerrillagardening.org/">Guerilla gardening</a>
  </li>
  <li>
    <a href=""> </a>
  </li>
  <li>
    <a href=""> </a>
  </li>
  <li>
    <a href=""> </a>
  </li>
</ul>
