<h3>New</h3>
<p><a href="/energy/2011/10/14/installing-a-solar-pv-system.html"><b>Installing a Solar PV system</b></a></p>
<!--
<h3>Thursdays at the Diner</h3>
<p>Come down to the <a href="/announcements/2011/05/26/thursdays-at-the-diner.html">Community Diner</a> at Whittington Park Community Centre to pick up your Church Farm delivery and for a bit of tapas and a chat every Thursday 6-7pm.</p>
-->
<h3>Saturdays</h3>
<p><a href="/regular/2011/07/09/food-market.html">Tufnell Park Tavern Food Market</a>, Saturdays 11am-3pm.</p>
<h3>Sundays</h3>
<p><a href="/blog/2011/05/11/big-dig.html">Secret garden</a> drop-in, now 12-2pm - currently planning our potato heaps, creating a herb garden STILL eating our purple sprouting broccoli - come and get involved!</p>
<h3>Last Thursday of the month</h3>
<p><a href="/">TTP social</a>, 7pm at the Tufnell Park Tavern.</p>
<hr>
