<!--
<h3>Thursdays at the Diner</h3>
<p>Come down to the <a href="/announcements/2011/05/26/thursdays-at-the-diner.html">Community Diner</a> at Whittington Park Community Centre to pick up your Church Farm delivery and for a bit of tapas and a chat every Thursday 6-7pm.</p>
-->
<h3>Saturdays</h3>
<p><a href="/regular/2011/07/09/food-market.html">Tufnell Park Tavern Food Market</a>, Saturdays 11am-3pm.</p>
<h3>Last Sunday of the month</h3>
<p><a href="/growing/2012/02/26/secret-garden.html">Secret garden</a>.
<h3>Last Thursday of the month</h3>
<p><a href="/social/2012/02/23/green-drinks.html">Green drinks</a> at 7pm.</p>
<hr>
<h3>New</h3>
<p><a href="/energy/2012/07/01/draughtbusting.html"><b>Need a hand draught<br>proofing your home?</b></a></p>
<p><a href="/energy/2011/10/14/installing-a-solar-pv-system.html"><b>Installing a Solar PV system</b></a></p>
<p><a href="/events/2011/11/02/draughtbusting-workshop.html"><b>The draughtproofing workshop video</b></a></p>

