<object width="350" height="284"><param name="movie" value="http://www.youtube.com/v/yW8HnRmSekQ?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/yW8HnRmSekQ?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="350" height="284"></embed></object>

{% for post in site.posts %}
  {% if post.top == true %}
  <h3>
    {{ post.date | date: "%d %b" }}: {{ post.title }}
  </h3>
  {{ post.content }}
  <hr>
  {% endif %}
{% endfor %}