<div id="twitter">
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 1,
    interval: 6000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#086991',
        color: '#ffffff'
      },
      tweets: {
        background: '#c0deed',
        color: '#000000',
        links: '#347cbb'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      behavior: 'default'
    }
  }).render().setUser('transitiontp').start();
  </script>
</div>
