<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include headers.html %}
  </head>

  <body>

    {% include navbar.html %}

    <div class="container">
      <div class="row-fluid">
        <div class="span9">
          <ul class="thumbnails well">
            <li class="span8">
                {% include homepic.html %}
            </li>
            <li class="span4">
              {% include hometrails.html %}
            </li>
          </ul>

          <div class="row">
            <div class="span6">
              {% include news.html %}
            </div>
            <div class="span6">
              {{ content }}
            </div>
          </div>
            
          <div class="row">
              <ul class="thumbnails well">
                <li class="span4">
                  {% include picasa.html %}
                </li>
                <li class="span8">
                  <div class="pull-right">
                    <iframe width="400" height="225" src="http://www.youtube.com/embed/yW8HnRmSekQ" frameborder="0" allowfullscreen></iframe>
                  </div>
                </li>
              </ul>
          </div>

          {% include facebook3.html %}

        </div>
        
        <div class="span3">
          {% include twitter2.html %}
          <br>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% include links.html %}
            </ul>
          </div>
          {% include transition.html %}
        </div>
        
      </div>

      {% include footer.html %}

    </div>

    {% include bootscript.html %}
    {% include google.html %}

  </body>
</html>
