<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if lt IE 8]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class='container'>
    <div id='header'>
      {% include intro.html %}
    </div>

    <div id='navbar'>
            <a href="/"><img src="/images/masthead.png" title="Transition Tufnell Park" alt="Transition Tufnell Park" class="masthead"></a>
      {% include events.html %}
      {% include announcements.html %}
      {% include blog.html %}
      {% include information.html %}
    </div>
    
    <div id='content'>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    
    <div id='sidebar'>
      {% include links.html %}
      <br>
      <hr>
      {% include twitter.html %}
      <br>
      {% include facebook.html %}
    </div>

    {% include footer.html %}

  </div>
  
  {% google.html %}

</body>
</html>
