@import "blueprint";
@import "compass";

$blueprint-grid-columns: 24;
$blueprint_grid_width: 30px;
$blueprint-grid-margin: 10px;


body { font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; background-color: #376797;}
h1 { font-size: 1.4em; font-weight: bold; margin-top: 0.5em; }
h2 { font-size: 1.2em; font-weight: bold; margin-top: 1em; }
h3 { font-size: 1em; font-weight: bold; margin-top: 0.5em; }
p { line-height: 1.5em; margin: 0.5em 0; }
blockquote { font-style: italic; padding: 0 1em; }
em { font-style: italic; }
li { list-style: none; }
li:before { content: "\00BB \0020"; }

.container {
  @include container;
  background-color: #fff;
  
  hr { 
    @include colruler; 
  }
  #header, #footer {
    @include column(24);
    font-size: 80%;
    font-weight: bold;
    text-align: center;
  }
  #footer {
    margin: 1em;    
  }
  #header {
    height: 236px;
    margin-bottom: -1em;
    p { color: #fff; }
    a { color: lightBlue; }
  }
  .home { background-image:url('/images/banner-home.jpg'); }
  .energy { background-image:url('/images/banner-energy.jpg'); }
  .growing { background-image:url('/images/banner-growing.jpg'); }
  .social { background-image:url('/images/banner-social.jpg'); }
  #sidebar, #navbar {
    @include column(6); 
    font-size: 80%;
  }
  #sidebar {
  }
  
  #footnote { font-size: 80%; }
  #home { font-size: 80%; font-weight: bold; }
  #navbar {
    //@include column-gap(20px);
    //@include colborder;
  }
  #content {
    @include column(11, true); 
    //@include column-gap(20px);
    //@include colborder;
    //padding-left: 10px;
    @include prepend(1);
  }
  #content img { width: 350px; } 

  #article-content {
    @include column(17, true); 
    @include prepend(1);
  }
  #article-content li {
    margin: 4px 0 4px 10px;
    line-height: 1.2em;
  }

}

.masthead { width: image-width("masthead.png"); height: image-height("masthead.png"); margin-top: 30px; }
.marque { width: image-width("marque.gif"); height: image-height("marque.gif"); margin: 55px; }
.ttlogo { width: image-width("ttlogo.jpg"); height: image-height("ttlogo.jpg"); }
.logo { width: image-width("logo.png"); height: image-height("logo.png"); padding-top: 1em; }
.like { text-align: right; margin: 0 -78px 10px;}    
