@import "blueprint";
@import "compass";

//$blueprint-grid-columns: 16;
//$blueprint_grid_width: 40px;

body { font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }
h1 { font-size: x-large; margin-top: 1em; }
h2 { font-size: large; margin-top: 1em; }
h3 { font-weight: bold; margin-top: 1em; }
p { line-height: 1.5em; margin: 0.5em 0; }
blockquote { font-style: italic; padding: 0 1em; }
em { font-style: italic; }
li { list-style: none; }
li:before { content: "\00BB \0020"; }

.container {
  @include container;
  hr { @include colruler; }
  #header, #footer {
    @include column(24);
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    margin: 1em;
  }
  #picture {
    @include column(15); 
    text-align: center;
  }
  #sidebar, #navbar, #masthead {
    @include column(6); 
    font-size: 80%;
  }
  #footnote {
    font-size: 80%;
  }
  
  #navbar {
    @include colborder;
  }
  #content {
    @include column(9, true); 
    @include colborder;
  } 
}

.masthead { width: image-width("masthead.png"); height: image-height("masthead.png"); margin-top: 30px; }
.marque { width: image-width("marque.gif"); height: image-height("marque.gif"); margin: 55px; }
.ttlogo { width: image-width("ttlogo.jpg"); height: image-height("ttlogo.jpg"); }
.logo { width: image-width("logo.png"); height: image-height("logo.png"); padding-top: 1em; }
    
